html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.backspace{
  font-family:wingdings;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background: black;
  }
}

button {
  width: 290px;
  height: 100px;
  border-radius: 20px;
  margin: 2px;
  color: white;
  font-size: 36px;
}

input {
  width: 1172px;
  height: 150px;
  font-size: 100px;
}

.gray {
  background-color: rgb(61, 61, 61);
}

.green {
  background-color: rgb(0, 92, 0);
}
